{% load static %} {% static "pictures" as baseUrl%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static './styles/style.css' %}" />
    <title>Destinations</title>
  </head>
  <body>
    <div class="header">
      <div class="topbar">
        <h1>ABC tourism</h1>
      </div>
      <div class="coverpic">
        <img
          id="coverpic"
          src="{% static './pictures/coverpic.png' %}"
          alt="cover picture"
        />
      </div>
    </div>
    <div class="notes">
      <h1>Make Your Plan with us enjoy your Vacation</h1>
      <h2>
        Travelling simply expands our horizons and makes us <br />
        realise the importance of exploring and not living in one place all the
        time.
      </h2>
    </div>
    <div class="title">
      <h1>We have the best tours</h1>
    </div>
    <div class="tourarea">
      {% for dest in dests %}
      <div class="content">
        <img src="{{baseUrl}}/{{dest.img}}" alt="" />
        <div class="contentDetails">
          <div class="days">Duration - {{dest.days}} day tour</div>
          <div class="location">Location - {{dest.location}}</div>
          <div class="country">Country - {{dest.country}}</div>
          <div class="price">From - ₹ {{dest.price}}</div>
          <button>Select Package</button>
        </div>
      </div>
      {% endfor %}
    </div>
    <footer>
      <h5>&copy; Copyright 2021 abc tourism</h5>
    </footer>
  </body>
</html>
