{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static './styles/style.css' %}" />
    <title>Destinations</title>
  </head>
  <body>
    <div class="header">
      <div class="topbar">
        <h1>ABC tourism</h1>
      </div>
      <div class="coverpic">
        <img
          id="coverpic"
          src="{% static './pictures/coverpic.png' %}"
          alt="cover picture"
        />
      </div>
    </div>
    <div class="notes">
      <h1>Make Your Plan with us enjoy your Vacation</h1>
      <h2>
        Travelling simply expands our horizons and makes us <br />
        realise the importance of exploring and not living in one place all the
        time.
      </h2>
    </div>
    <div class="title">
      <h1>We have the best tours</h1>
    </div>
    <div class="tourarea">
      <div class="content">
        <img src="{% static './pictures/pic1.jpg' %}" alt="" />
        <div class="contentDetails">
          <div class="days">Duration - {{dest1.days}} day tour</div>
          <div class="location">Location - {{dest1.location}}</div>
          <div class="country">Country - {{dest1.country}}</div>
          <div class="price">From - ₹ {{dest1.price}}</div>
          <button>Select Package</button>
        </div>
      </div>
      <div class="content">
        <img src="{% static './pictures/pic2.jpg' %}" alt="" />
        <div class="contentDetails">
          <div class="days">Duration - 8 day tour</div>
          <div class="location">Location - Kerala</div>
          <div class="country">Country - India</div>
          <div class="price">Price - ₹ 5000</div>
          <button>Select Package</button>
        </div>
      </div>
      <div class="content">
        <img src="{% static './pictures/pic3.jpg' %}" alt="" />
        <div class="contentDetails">
          <div class="days">Duration - 8 day tour</div>
          <div class="location">Location - Kerala</div>
          <div class="country">Country - India</div>
          <div class="price">Price - ₹ 5000</div>
          <button>Select Package</button>
        </div>
      </div>
      <div class="content">
        <img src="{% static './pictures/pic4.jpg' %}" alt="" />
        <div class="contentDetails">
          <div class="days">Duration - 7 day tour</div>
          <div class="location">Location - Paris</div>
          <div class="country">Country - England</div>
          <div class="price">Price - ₹ 10000</div>
          <button id="myBtn">Select Package</button>
        </div>
      </div>
    </div>
    <footer>
      <h5>&copy; Copyright 2021 abc tourism</h5>
    </footer>
  </body>
</html>
